@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,400,500,600,700');

.demo {
    font-feature-settings: "liga" 0;
    line-height: 1.5;
    font-size: 16px;
    font-family: "IBM Plex Mono", "Space Grotesk", "Roboto Slab", sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.demo *,
.demo *:before,
.demo *:after {
    box-sizing: border-box;
}

.demo h1,
.demo h2,
.demo h3,
.demo h4,
.demo h5,
.demo h6 {
    font-weight: 500;
}

.demo.theme-light {
    background: #edefed;
    color: #344c4c;
}

.demo.theme-dark {
    background: #212424;
    color: #e8e8e8;
}

.demo_header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.demo_body {
    padding: 20px 30px;
}

.theme-switch {
    font-size: 14px;
}

.button {
    display: inline-block;
    padding: 9px 12px;
    line-height: 1em;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 600;
    font-size: 13px;
    white-space: pre;
    user-select: none;
}

.theme-light .button {
    background: #fff;
}

.theme-dark .button {
    background: #3c3f3f;
}
