.switch_wrapper {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.switch {
    display: block;
}

.switch_toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.switch_container {
    display: block;
    position: relative;
    outline: none;
    width: 28px;
    height: 14px;
    background: transparent;
    border-radius: 7px;
    border: 1px solid;
    cursor: pointer;
}

.theme-light .switch_container {
    border-color: #555;
}

.theme-dark .switch_container {
    border-color: #eee;
}

.switch_pin {
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    border-radius: 7px;
    transform: translate3d(0, 0, 0);
    transition: transform 100ms;
    border: 1px solid;
}

.theme-light .switch_pin {
    border-color: #555;
}

.theme-dark .switch_pin {
    border-color: #eee;
}

.switch_pin._is-checked {
    transform: translate3d(14px, 0, 0);
}

.theme-light .switch_pin._is-checked {
    background: #555;
}

.theme-dark .switch_pin._is-checked {
    background: #eee;
}

.switch_label {
    font-size: 14px;
    margin-left: 6px;
    cursor: pointer;
    font-weight: 500;
    opacity: .5;
}

.switch_label._is-checked {
    opacity: 1;
}